{% extends 'layout/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle saison</h1>

    <div class="center container-fluid">
        <div class="col-lg-4">
            {{ include('season/_form.html.twig', {'button_label': 'Ajouter la saison'}) }}
        </div>
    </div>

    <div class="retour">
    <a class="lien" href="{{ path('season_index') }}">Retour à l'index</a>
    </div>
{% endblock %}
