{% extends "layout/base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1> {{ 'program.new'|trans}} ? </h1>

    <div class="center container-fluid">
        <div class="col-lg-4">
            {{ include('program/_form.html.twig', {'button_label': 'Ajouter la série'}) }}
        </div>
    </div>

{% endblock %}
