{% extends 'base.html.twig' %}

{% block body %}

    <h1> The two you should love</h1>
    <div class="container-fluid actors">
        <div class="actor">
            <h2> Yavuz KUTUK </h2>
            <a href="https://www.linkedin.com/in/yavuzkutuk/"><img src="{{ asset('build/yavuz.jpg') }}" alt="God Yavuz"/></a>
        </div>

        <div class="actor">
            <h2> Gilles SAMUEL </h2>
            <a href="https://www.linkedin.com/in/gilles-samuel/"><img src="{{ asset('build/gilles.jpg') }}" alt="God Gilles"/></a>
        </div>
    </div>

{% endblock %}