@import "~bootstrap/scss/bootstrap";

$primary: #4b4b4b;
$secondary: #fae60c;
$third: #d412fa;


body {
    background-color: $primary;
}

h1 {
    text-align: center;
    color: $secondary;
    margin: 50px;
}

h2 {
    color: $third;
}

.program_index {
    justify-content: space-around;
    & .program {
        width: 550px;
        margin-bottom: 20px;
    }
    & .poster {
        width: 550px;
        height: 750px;
    }
    & .description {
        background-color: #b1b1b1;
        width: 550px;
    }
}

.nav {
    display: flex;
    justify-content: center;

    & .navbar-brand {
        padding: 5px 15px;
    }
    & .dropdown {
        color: rgba(255, 255, 255, 0.5);
    }
}

.actors {
    display: flex;
    justify-content: space-around;
    & .actor {
        text-align: center;
    }
    & .actor img{
        width: 500px;
    }
}

.media-body {
    color: $third;
}

.categories {
    text-align: center;
    & .category {
        margin: 25px;
    }
}

.error {
    color: $third;
    text-align: center;
}

.tab {
    margin-left: 4em;
}

