@import "~bootstrap/scss/bootstrap";

$primary: #4b4b4b;
$secondary: #fae60c;
$third: #d412fa;


body {
    background-color: $primary;
}

h1 {
    text-align: center;
    color: $secondary;
    margin: 50px;
}

h2 {
    text-align: center;
    color: $third;
}

h3 {
    color: $secondary;
    text-align: center;
}

ul {
    list-style: none;
}

a:link {
    text-decoration: none;
    > :visited {
        text-decoration: none;
    }
}

.index {
    justify-content: space-around;
    & .program {
        width: 550px;
        margin-bottom: 20px;
    }
    & .poster {
        width: 550px;
        height: 750px;
    }
    & .description {
        background-color: #b1b1b1;
        width: 550px;
        height: 200px;
        > p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    & .navbar-brand {
        padding: 5px 15px;
    }
    & .dropdown {
        color: rgba(255, 255, 255, 0.5);
    }
    & svg {
        color: white;
    }
}

.retour {
    text-align: center;
}

a.lien {
        color: $secondary;
        > :visited {
            text-decoration: none;
        }
        > :hover {
            color: $third;
        }
    }

.actors {
    display: flex;
    justify-content: space-around;
    & .actor {
        text-align: center;
    }
    & .actor img{
        width: 500px;
    }
}

.media-body {
    color: $third;
}

.categories {
    display: flex;
    justify-content: space-around;
    text-align: center;
    & .category {
        margin: 25px;
    }
}

.error {
    color: $third;
    text-align: center;
}

.tab {
    margin-left: 5em;
}

.ajout {
    text-align: center;
    & label {
        color: $third;
    }
}

thead {
    color: $third;
    & .action {
        width: 100px;
    }
    & .title {
        width: 200px;
        text-align: center;
    }
}

tbody {
    color: white;
    & .title {
        text-align: center;
        font-weight: bold;
    }
}

.center {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
    & label, button, legend {
        color: white;
    }
    & #search_program_form {
        width: 350px;
    }
}

.centré {
    text-align: center;
    margin-bottom: 15px;
}

.login {
    display: flex;
    justify-content: center;
    text-align: center;
    & form {
        > label, .btn {
            color: $third;
        }
        > input {
            margin-bottom: 10px;
        }
        > button:hover {
            color: $secondary;
        }
    }
}

.episode {
    margin-bottom: 30px;
    & h2 {
        margin: 25px;
    }
}

.rating {
    justify-content: space-around;
}

form .btn:hover {
    color: $secondary;
}
a .btn:hover {
    color: $secondary;
}

.program_actors {
    display: grid;
    grid: auto / 1fr 1fr;
    text-align: initial;
    & .form-check {
        padding-left: 5rem;
    }
}

.presentation {
    margin-bottom: 15px;
}

.comment {
    margin-bottom: 20px;
    & h5 {
        color: $third;
    }
    & .tab form {
        > .btn {
            color: white;
        }
        > button:hover {
            color: $secondary;
        }
    }
}